:root {
    --primaryColor: #222831;
    --secondaryColor: #393E46;
    --thirdColor: #00ADB5;
    --fourthColor: #EEEEEE;
    --darkPrimaryColor: #35155D;
    --darkSecondaryColor: #333;
    --darkThirdColor: #007B80;
    --darkFourthColor: #FFD1DA;
    --heartColor: #FF2E63;
    --starColor: #FFA732;
}